<div class="card">
  <div class="card-header">Add an item</div>
  <div class="card-body">
    <div class="card-text">
      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="nameId" class="form-label">Item name*</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="nameId"
            placeholder="Item name"
            formControlName="name"
          />
          <small
            class="text-danger small"
            *ngIf="
              itemForm.get('name')?.invalid &&
              (itemForm.get('name')?.dirty || itemForm.get('name')?.touched)
            "
          >
            Name must be at least three characters.
          </small>
        </div>
        <div class="mb-3">
          <label for="descriptionId" class="form-label">Description</label>
          <textarea
            class="form-control form-control-sm"
            id="descriptionId"
            rows="3"
            placeholder="Item description"
            formControlName="description"
          ></textarea>
        </div>
        @if(errorMessage){
        <small class="text-error text-xs">{{ errorMessage }}</small>
        } @else if(successMessage){
        <span class="text-xs small text-success">{{ successMessage }}</span>
        }
        <button
          [disabled]="saving"
          type="submit"
          class="btn btn-primary btn-sm form-control mt-3"
        >
          <div
            class="spinner-border spinner-border-sm mr-2"
            role="status"
            *ngIf="saving"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
          <span class="ml-2">Save</span>
        </button>
      </form>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">Factorial Calculate</div>
  <div class="card-body">
    <div class="factorial-div">
      <div>
        <button
          class="btn btn-sm btn-secondary form-control"
          [disabled]="gettingFactorials"
          (click)="onFactorial()"
        >
          <div
            class="spinner-border spinner-border-sm mr-2"
            role="status"
            *ngIf="gettingFactorials"
          >
            <span class="visually-hidden">Generating factorials...</span>
          </div>
          <span>Calculate factorial</span>
        </button>
      </div>
      <div class="mt-2">
        @if(factorials.length > 0){ 
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Factorial</th>
              </tr>
            </thead>
            <tbody>
          @for (item of factorials; track item; let index = $index) {
            <tr>
              <td>{{index}}</td>
              <td>{{item.toLocaleString('en-GB')}}</td>
            </tr>
          }
        </tbody>
        </table>
          }
      </div>
    </div>
  </div>
</div>
