<div class="card">
  <div class="card-header">Add an item</div>
  <div class="card-body">
    <div class="card-text">
      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="nameId" class="form-label">Item name*</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="nameId"
            placeholder="Item name"
            formControlName="name"
          />
          <small class="text-danger small" 
          *ngIf="itemForm.get('name')?.invalid && ( itemForm.get('name')?.dirty ||itemForm.get('name')?.touched )">
            Name must be at least three characters.
          </small>
        </div>
        <div class="mb-3">
          <label for="descriptionId" class="form-label">Description</label>
          <textarea
            class="form-control form-control-sm"
            id="descriptionId"
            rows="3"
            placeholder="Item description"
            formControlName="description"
          ></textarea>
        </div>
        @if(errorMessage){
        <small class="text-error text-xs">{{ errorMessage }}</small>
        } @else if(successMessage){
        <span class="text-xs small text-success">{{ successMessage }}</span>
        }
        <button
          [disabled]="saving"
          type="submit"
          class="btn btn-primary btn-sm form-control mt-3"
        >
          <div class="spinner-border spinner-border-sm mr-2" role="status" *ngIf="saving">
            <span class="visually-hidden">Loading...</span>
          </div>
          <span class="ml-2">Save</span>
        </button>
      </form>
    </div>
  </div>
</div>
